#jinja2: trim_blocks: True, lstrip_blocks: True
name: dev

networks:
  proxy:
    external: true

services:
  dev:
    image: ghcr.io/smart-npv/portfolio-app-new/dev:latest
    pull_policy: always
    container_name: dev
    environment:
      MYSQL_BASE_URL: "{{ mysql_base_url }}"
      CI_BASE_URL: https://{{ traefik_host }}
      CI_ENCRYPTION_KEY: "{{ ci_encryption_key }}"
      CI_ENV: development
      CI_LOG_PATH: /dev/stdout
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dev.rule=Host(`{{ traefik_host }}`)"
      - "traefik.http.routers.dev.service=dev"
      - "traefik.http.services.dev.loadbalancer.server.url=dev"
      - "traefik.http.routers.dev.entrypoints=websecure"
      - "traefik.http.routers.dev.tls.certresolver=letsencrypt"
